<div class="form-group">
    <label class="col-sm-2 control-label">费用是否交齐</label>

    <div class="col-sm-3 form-group radio">
        <input class="magic-checkbox" type="radio" name="pay_status" value="1" id="c1"
               name="course_package" datatype="*" nullmsg="请选择费用是否交齐">
        <label for="c1">一次性交齐</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <input class="magic-checkbox" type="radio" name="pay_status" value="0" id="c2">
        <label for="c2">预报名</label>

    </div>

    <div class="col-sm-3" id="some_cash" style="display:none;">
        <input type="number" class="form-control" placeholder='已收金额' name="some_cash" style="margin-left: -80px;">
    </div>
</div>

                 
